doctype html
html
	head
		block head
			<meta charset="utf-8">
			title #{title} | Stupid Cities
			<meta name="description" content="#{description}">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link rel="manifest" href="/site.webmanifest">
			<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
			// favicon is in root
			<meta name="theme-color" content="#fafafa">

			<link href="/css/style-compiled.css" rel="stylesheet">
			<script src="/scripts/script-compiled.js" defer></script>

	body
		block body
			.container(class=bodyClass)
				.wrapper
					block content
				.dialogs.hidden
					block dialogs
				.overlays(class=hasInfo ? '' : 'hidden')
					block overlays
						if alert
							.alert.message(class=type==="error" ? 'error' : '')
								p=message
								+closeButton()

			.map
				block scripts
