extends _layout

append head
	<link href="/css/imports/_comp-temp.css" rel="stylesheet" />

block content

	h2 colours

	block colours
		.colours
			ul
				li light
				li dark
				li primOne
				li primTwo
				li secOne
				li secTwo
				li textAlt

	h2 Typography

	mixin darkHeader(title)
		header.header--large--dark
			h1= title

	+darkHeader('Large Dark Header')
	p= `+darkHeader(titleHere)`

	mixin lightHeader(title)
		header.header--large
			h2= title

	+lightHeader('Large Light Header')
	p= `+lightHeader(titleHere)`

	mixin smallHeader(title)
		h3.heading--small= title

	+smallHeader('Small heading')
	p= `+smallHeader(titleHere)`

	p All text should be in a paragraph like this one Lorem ipsum dolor, sit amet consectetur adipisicing elit. #[a(href="#") Ab aliquam voluptates tempora] maiores minus sint, quidem officia nisi quod similique excepturi fugiat alias molestias, debitis amet nulla nostrum, eaque at.

	h2 Buttons & Icons

	//- can be camera, map, frown, pin, meh, smile, upload, user, alert, close, right, left, up, down, info
	mixin svg(iconname)
		case iconname
			when 'camera'
				include ../public/images/svgs/camera.svg
			when 'map'
				include ../public/images/svgs/map.svg
			when 'frown'
				include ../public/images/svgs/frown.svg
			when 'pin'
				include ../public/images/svgs/map-pin.svg
			when 'meh'
				include ../public/images/svgs/meh.svg
			when 'smile'
				include ../public/images/svgs/smile.svg
			when 'upload'
				include ../public/images/svgs/upload.svg
			when 'alert'
				include ../public/images/svgs/alert.svg
			when 'user'
				include ../public/images/svgs/user.svg
			when 'close'
				include ../public/images/svgs/x.svg
			when 'up'
				include ../public/images/svgs/chevron-up.svg
			when 'down'
				include ../public/images/svgs/chevron-down.svg
			when 'left'
				include ../public/images/svgs/chevron-left.svg
			when 'right'
				include ../public/images/svgs/chevron-right.svg
			when 'info'
				include ../public/images/svgs/info.svg


	+svg('camera')
	+svg('map')
	+svg('frown')
	+svg('pin')
	+svg('meh')
	+svg('smile')
	+svg('upload')
	+svg('alert')
	+svg('user')
	+svg('close')
	+svg('up')
	+svg('down')
	+svg('left')
	+svg('right')
	+svg('info')
	p= '+svg(whichSvg) can be camera, frown, pin, meh, smile, upload, user, alert, close, right, left, up, down, info'

	mixin button(text)
		button.btn--regular= text
	+button('Regular')
	p= `+button(textHere) This is a regular button`

	mixin actionButton(text, labelid, svg)
		button.btn--action(aria-labelledby=labelid)
			span(id=labelid)= text
			+svg(svg)
	+actionButton('action', 'action', 'camera')
	p= `+actionButton(label, labelid, whichSVG) svg same as above`

	mixin uiButton(text, labelid, svg)
		button.btn--ui(aria-labelledby=labelid)
			span(id=labelid)= text
			+svg(svg)
	+uiButton('ui', 'ui', 'left')
	p= `+uiButton(label, labelid, whichSVG) svg same as above`

	mixin closeButton()
		button.close(aria-labelledby='label-close' type="button")
			span#label-close Close
			+svg('close')
	+closeButton()
	p= `+closeButton for use with overlays`

	mixin moodRadios()
		.pick-mood
			input(type="radio" id="happy" name="mood" value="0")
			label(for="happy" class="mood--happy")
				span Happy
				+svg('smile')

			input(type="radio" id="sad" name="mood" value="1")
			label(for="sad" class="mood--meh")
				span Sad
				+svg('meh')

			input(type="radio" id="angry" name="mood" value="2")
			label(for="angry" class="mood--sad")
				span Angry
				+svg('frown')

			input(type="radio" id="danger" name="mood" value="3")
			label(for="danger" class="mood--angry")
				span Danger
				+svg('alert')

	+moodRadios()


	div.mood--happy.btn--action(aria-labelledby="moodlabel")
		span#moodlabel happy
		+svg('smile')

	div.mood--meh.btn--action(aria-labelledby="moodlabel")
		span#moodlabel meh
		+svg('meh')

	div.mood--sad.btn--action(aria-labelledby="moodlabel")
		span#moodlabel sad
		+svg('frown')

	div.mood--angry.btn--action(aria-labelledby="moodlabel")
		span#moodlabel angry
		+svg('alert')

	h2 Utilities

	.back-light= '.back-light'
	.back-dark= '.back-dark'
	.camera-overlay= '.camera-overlay'

